/* 
font-family: 'Bungee', cursive;
font-family: 'Passion One', cursive;
font-family: 'Share Tech Mono', monospace;
 */


*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	font-size:12px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.fuente1{
	font-family: 'Share Tech Mono', monospace;
}
/* Configuración básica del viewport */
#app{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#app-js{
	border: 1px solid rgba(0,0,0,.1);;
	width:1100px !important;
	height:700px  !important;
	box-shadow: 12px 12px 70px -12px rgba(0,0,0,0.21);
	border-radius: 11px 11px 11px 11px;
	background-color: rgba(0,0,0,.1);
	overflow: hidden;
	position:relative;
}
/* Inicio del juego */

#splashpage{
	width:100%;
	background-size:100% auto;
	img{
		width:100%;
	}
	cursor:pointer;
}
#entrar{
	width:200px;
	padding:10px;
	background-color:red;
	position:absolute;
	z-index: 101;
	bottom:100px;
	left:50%;
	margin-left:-100px;
	text-align:center;
	cursor: pointer;
	display:none;
}
/* Selección de niveles */

#niveles{
	display:none;
}
#seleccionNivel{
	width:200px;
	padding:10px;
	background-color:blue;
	position:absolute;
	z-index: 101;
	bottom:100px;
	left:50%;
	margin-left:-100px;
	text-align:center;
	cursor: pointer;
}
/* Duck hunt - escenario */
#duckHunt{
	display:none;
}
#cieloAzul{
	background-color: #63d7ff;
	width:100%;
	height:100%;
	position:absolute;
	z-index:1001;
	left:0px;
	top:0px;

}
#pasto{
	width:100%;
	height:100%;
	bottom:0px;
	position:absolute;
	z-index:110011;

	background-image: url("../assets/background.png");

}


#ducksScore{
	width:500px;
	height:50px;
	background-color:black;
	position:absolute;
	bottom:50px;
	left:50%;
	margin-left:-250px;
	border-radius: 11px 11px 11px 11px;
	border: 1px solid #fead71;
	display:none;
}
#globalScore{
	width:150px;
	height:40px;
	background-color:black;
	position:absolute;
	bottom:10px;
	right:20px;
	border-radius: 11px 11px 11px 11px;
	border: 1px solid #aaff08;;
	color: #aaff08;
	text-align:center;
	font-size:2.5em;
	padding:2px;
}
#trigger{
	width:70px;
	height:70px;
	background-color:rgba(255,255,255,.5);
	position:absolute;
	z-index:111001;
	border-radius: 50%;
	filter:brightness(1.5);
}
/* Importar animaciones */
@import 'keyframes.scss';
/* Patos */

@mixin unPato($z){
	width:100px;
	height:100px;
	position:absolute;
	bottom:30px;
	z-index:$z;
	background-image:url(../assets/duck.png);
	background-size:100% auto;
	background-repeat:no-repeat;
}

#pato1{
	@include unPato(11001);
	transform: scaleX(-1);
	left:5%;
	
}
.pato1Anim{
	opacity:1;
	@include animation('pato1 10s 0s infinite linear normal forwards');
}
#pato2{
	@include unPato(11002);
	left:30%;
	
}
.pato2Anim{
	opacity:1;
	transform: scaleX(-1);
	left:50%;
	@include animation('pato2 6s 3s infinite linear normal forwards');
}
#pato3{
	@include unPato(11003);
	left:60%;
}
.pato3Anim{
	opacity:1;
	@include animation('pato3 12s 6s infinite linear normal forwards');
}
#pato4{
	@include unPato(11003);
	left:80%;
	
}
.pato4Anim{
	opacity:1;
	@include animation('pato4 4s 9s infinite linear normal forwards');
}
#malo1{
	width:140px;
	height:280px;
	position:absolute;
	z-index:1002;
	bottom:0px;
	left:200px;
	visibility: hidden;
	background-image:url(../assets/dog.gif);
	background-size:100% auto;
	background-repeat:no-repeat;

	
}
#malo2{
	width:140px;
	height:280px;
	position:absolute;
	z-index:1003;
	bottom:-200px;
	left:45%;
	background-image:url(../assets/dog.gif);
	background-size:100% auto;
	background-repeat:no-repeat;
	
}
#malo3{
	width:140px;
	height:280px;
	position:absolute;
	z-index:1004;
	bottom:0px;
	left:80%;
	visibility: hidden;
	background-image:url(../assets/dog.gif);
	background-size:100% auto;
	background-repeat:no-repeat;
}
/* Debug */
/*
#splashpage,#niveles{
	display:none;

}
#duckHunt{
	display:block;
}
*/


@import 'arma.scss';