@charset "UTF-8";
/* 
font-family: 'Bungee', cursive;
font-family: 'Passion One', cursive;
font-family: 'Share Tech Mono', monospace;
 */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fuente1 {
  font-family: 'Share Tech Mono', monospace;
}

/* Configuración básica del viewport */
#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#app-js {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 1100px !important;
  height: 700px  !important;
  -webkit-box-shadow: 12px 12px 70px -12px rgba(0, 0, 0, 0.21);
  box-shadow: 12px 12px 70px -12px rgba(0, 0, 0, 0.21);
  border-radius: 11px 11px 11px 11px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

/* Inicio del juego */
#splashpage {
  width: 100%;
  background-size: 100% auto;
}

#splashpage img {
  width: 100%;
}

#entrar {
  width: 200px;
  padding: 10px;
  background-color: red;
  position: absolute;
  z-index: 101;
  bottom: 100px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  cursor: pointer;
}

/* Selección de niveles */
#niveles {
  display: none;
}

#seleccionNivel {
  width: 200px;
  padding: 10px;
  background-color: blue;
  position: absolute;
  z-index: 101;
  bottom: 100px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  cursor: pointer;
}

/* Duck hunt - escenario */
#duckHunt {
  display: none;
}

#cieloAzul {
  background-color: #63d7ff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1001;
  left: 0px;
  top: 0px;
}

#pasto {
  width: 100%;
  height: 150px;
  bottom: 0px;
  position: absolute;
  z-index: 1020;
  background-color: #a47049;
}

#ducksScore {
  width: 500px;
  height: 50px;
  background-color: black;
  position: absolute;
  bottom: 20px;
  z-index: 10010;
  left: 50%;
  margin-left: -250px;
  border-radius: 11px 11px 11px 11px;
  border: 1px solid #fead71;
}

#globalScore {
  width: 200px;
  height: 50px;
  background-color: black;
  position: absolute;
  bottom: 20px;
  z-index: 10011;
  right: 20px;
  border-radius: 11px 11px 11px 11px;
  border: 1px solid #fead71;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 2.5em;
  padding: 8px;
}

#trigger {
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 111001;
  border-radius: 50%;
}

/* Importar animaciones */
/* Animaciones */
@-webkit-keyframes pato1 {
  20% {
    left: 30%;
  }
  60% {
    left: 10%;
  }
  100% {
    left: 40%;
    bottom: 110%;
  }
}

@-moz-keyframes pato1 {
  20% {
    left: 30%;
  }
  60% {
    left: 10%;
  }
  100% {
    left: 40%;
    bottom: 110%;
  }
}

@-o-keyframes pato1 {
  20% {
    left: 30%;
  }
  60% {
    left: 10%;
  }
  100% {
    left: 40%;
    bottom: 110%;
  }
}

@keyframes pato1 {
  20% {
    left: 30%;
  }
  60% {
    left: 10%;
  }
  100% {
    left: 40%;
    bottom: 110%;
  }
}

@-webkit-keyframes pato2 {
  30% {
    left: 10%;
  }
  70% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@-moz-keyframes pato2 {
  30% {
    left: 10%;
  }
  70% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@-o-keyframes pato2 {
  30% {
    left: 10%;
  }
  70% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@keyframes pato2 {
  30% {
    left: 10%;
  }
  70% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@-webkit-keyframes pato3 {
  20% {
    left: 70%;
  }
  40% {
    left: 30%;
  }
  80% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@-moz-keyframes pato3 {
  20% {
    left: 70%;
  }
  40% {
    left: 30%;
  }
  80% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@-o-keyframes pato3 {
  20% {
    left: 70%;
  }
  40% {
    left: 30%;
  }
  80% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@keyframes pato3 {
  20% {
    left: 70%;
  }
  40% {
    left: 30%;
  }
  80% {
    left: 50%;
  }
  100% {
    left: 70%;
    bottom: 110%;
  }
}

@-webkit-keyframes pato4 {
  20% {
    left: 90%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 10%;
    bottom: 110%;
  }
}

@-moz-keyframes pato4 {
  20% {
    left: 90%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 10%;
    bottom: 110%;
  }
}

@-o-keyframes pato4 {
  20% {
    left: 90%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 10%;
    bottom: 110%;
  }
}

@keyframes pato4 {
  20% {
    left: 90%;
  }
  50% {
    left: 70%;
  }
  100% {
    left: 10%;
    bottom: 110%;
  }
}

@-webkit-keyframes matar {
  100% {
    opacity: .1;
  }
}

@-moz-keyframes matar {
  100% {
    opacity: .1;
  }
}

@-o-keyframes matar {
  100% {
    opacity: .1;
  }
}

@keyframes matar {
  100% {
    opacity: .1;
  }
}

/*
   @include animation('muevemapa 10s 0s infinite linear alternate both');
  cubic-bezier(.01,.97,.71,1)
  animation-name
  animation-duration
  animation-timing-function

  linear|ease|ease-in|ease-out|ease-in-out|step-start|step-end|steps(int,start|end)|cubic-bezier(n,n,n,n)|initial|inherit;
  animation-delay:
  animation-iteration-count:number|infinite|initial|inherit;
  animation-direction:normal|reverse|alternate|alternate-reverse|initial|inherit;
  animation-fill-mode:none|forwards|backwards|both|initial|inherit;
  animation-play-state:paused|running|initial|inherit;

  -webkit-filter:
  http://html5-demos.appspot.com/static/css/filters/index.html
  blur(4px)
  brightness(0.8)
  contrast(0.6)
  drop-shadow(24px 24px 20px black)
  grayscale(0.2)
  invert(1)
  opacity(0.4)
  saturate(3.1)
  sepia(1);

*/
/* Patos */
#pato1 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 100px;
  z-index: 11001;
  left: 10%;
}

.pato1Anim {
  opacity: 1;
  -webkit-animation: pato1 10s 0s infinite linear normal forwards;
  -moz-animation: pato1 10s 0s infinite linear normal forwards;
  -o-animation: pato1 10s 0s infinite linear normal forwards;
  animation: pato1 10s 0s infinite linear normal forwards;
}

#pato2 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 100px;
  z-index: 11002;
  left: 30%;
}

.pato2Anim {
  opacity: 1;
  -webkit-animation: pato2 11s 0s infinite linear normal forwards;
  -moz-animation: pato2 11s 0s infinite linear normal forwards;
  -o-animation: pato2 11s 0s infinite linear normal forwards;
  animation: pato2 11s 0s infinite linear normal forwards;
}

#pato3 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 100px;
  z-index: 11003;
  left: 60%;
}

.pato3Anim {
  opacity: 1;
  -webkit-animation: pato3 12s 0s infinite linear normal forwards;
  -moz-animation: pato3 12s 0s infinite linear normal forwards;
  -o-animation: pato3 12s 0s infinite linear normal forwards;
  animation: pato3 12s 0s infinite linear normal forwards;
}

#pato4 {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  bottom: 100px;
  z-index: 11003;
  left: 80%;
}

.pato4Anim {
  opacity: 1;
  -webkit-animation: pato4 14s 0s infinite linear normal forwards;
  -moz-animation: pato4 14s 0s infinite linear normal forwards;
  -o-animation: pato4 14s 0s infinite linear normal forwards;
  animation: pato4 14s 0s infinite linear normal forwards;
}

#malo1 {
  width: 140px;
  height: 280px;
  position: absolute;
  z-index: 1002;
  background-color: #fc53d8;
  bottom: 0px;
  left: 20%;
  margin-left: -70px;
  visibility: hidden;
}

#malo2 {
  width: 140px;
  height: 280px;
  position: absolute;
  z-index: 1003;
  background-color: #fe9e1b;
  bottom: 0px;
  left: 50%;
  margin-left: -70px;
  visibility: hidden;
}

#malo3 {
  width: 140px;
  height: 280px;
  position: absolute;
  z-index: 1004;
  background-color: #443021;
  bottom: 0px;
  left: 80%;
  margin-left: -70px;
  visibility: hidden;
}

/* Debug */
#splashpage, #niveles {
  display: none;
}

#duckHunt {
  display: block;
}

#arma {
  width: 40px;
  height: 40px;
  background-color: 0, 0, 0, 0.3;
}
